@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

header {
    text-align: center;
}

nav {
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: beige;
}